@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.title{
    font-family: 'Kalam', cursive !important;
}

.title__container{
position: relative;
font-family: 'Kalam', cursive !important;
}
.title__the{
  font-family: 'Kalam', cursive !important;
}
.title__road{
    position: absolute;
    right: 0;
    bottom: 5px;
    font-family: 'Kalam', cursive !important;
}

.navbar {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  
  .navbar-sticky {
    display: flex;
    background: #16161D;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
  }
  
  .navbar--logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    animation: rotate 0.7s ease-in-out 0.5s;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0rem);
    }
  }